[Unit]
Description=Update Discord at startup
After=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=%h/scripts/discord/launch_update.sh
StandardOutput=journal
StandardError=journal
Environment=SUDO_ASKPASS=%h/scripts/discord/askpass.sh

[Install]
WantedBy=default.target

